body {
  background-color: rgb(122, 156, 63);
  font-family: "Courier New", Courier, monospace;
}

.form-button {
  background-color: green;
  border: none;
  border-radius: 8px;
  color: black;
  font-family: inherit;
  font-weight: 600;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out 0s;
  box-shadow: 2px 2px 0 black;
}

.form-button:hover {
  background-color: rgb(2, 90, 2);
  cursor: pointer;
}
